<section>
    <div class="container">
        <div class="row">
            <div class="col-12 pr-0">
                <div class="categories px-3 py-2">
                    <h3>Categorías</h3>
                </div>
                <accordion [isAnimated]="true">
                    <accordion-group heading="Paisajes" [isOpen]="isFirstOpen">
                      <ul class="list-btn">
                          <li><a href="#">Verano</a></li>
                          <li><a href="#">Invierno</a></li>
                          <li><a href="#">Primavera</a></li>
                          <li><a href="#">Otoño</a></li>
                      </ul>
                    </accordion-group>
                    <accordion-group heading="Arquitectura">
                      <p>Some content</p>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </div>
</section>